.countdown{
    font-size: 55px;
}

.toggle-btn{
    padding: 5px;
    width: 75px;
    background: #61dafb;
    font-size: 17px;
    font-family: monospace;
    border:none;
    color: #20232a;
    height:37px;
    border-radius: 2px;
}
.toggle-btn:hover{
    background-color: #5bcbe9;
}

.reset-btn{
    padding: 5px;
    width: 75px;
    background: #fff;
    font-size: 17px;
    font-family: monospace;
    border:none;
    color: #20232a;
    height:37px;
    border-radius: 2px;
}
.reset-btn:hover{
    background-color:#eeeeee;
}

.actions{
    margin-top: 40px;
}

@media only screen and (max-width: 375px) {
    .countdown{
        font-size: 50px;
    }
}